/*general body styles*/
.header, header, .main, main, .footer, footer{
    max-width:1200px;
    padding:1%;
    margin:auto;
}
.header, header, .footer, footer{
    background-color:#262626;
    color:#f2f2f2;
}
.footer a, footer a, .header a, header a{
    color:#99b3ff;
}
.mainheading{
    font-size:32px;
}
.subheading{
    font-size:18px;
}
.paragraph{
    font-size:16px;
    font-weight:400;
}
button{
    margin:2px;
    padding:5px;
    background-color:#f2f2f2;
    color:black;
    border:solid black 1px;
}
#invisibility_btn{
    background-color:#ff9999;
    border-color:#b30000;
}
/*menu styles*/
.dropdown{
    display:none;
}
.dropdown.open{
    display:block;
}
/*invisibility mode style*/
 .invisible {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip; rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
} 